# ----------------------------------------------------------------
# ملف المفاتيح السرية
# ----------------------------------------------------------------
.env

# ----------------------------------------------------------------
# ملفات البيئة الافتراضية 
# ----------------------------------------------------------------
venv/
.venv/
env/
.env*
!/.env.example

# ----------------------------------------------------------------
# ملفات بايثون المؤقتة (cache)
# ----------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------------------------------------------
# ملفات نظام التشغيل (ماك وويندوز)
# ----------------------------------------------------------------
.DS_Store
Thumbs.db
